.user-filter{
    transition: height .35s ease-in-out;
    overflow: hidden;

    &.close{
        height: 0px;
    }
    &.active{
        height: auto;
    }
}

.layout-wrapper {
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        .flex-area {
            flex: 1;
        }
    }
}

#finances {
    .reg-box {
        .p-field {
            margin-right: 10px;
        }
    }

    .p-datatable {
        .p-datatable-thead {
            tr {
                th {
                    //padding: 0.2rem 1rem;
                }
            }
        }
        .p-datatable-tbody {
            tr {
                td {
                    //padding: 0.2rem 1rem;
                }
            }
        }
    }

    .flex-box {
        display: flex;
        height: 100%;
        &.call {
            flex-direction: column;
        }
        &.row {
            flex-direction: row;
        }
        .grid {
            flex: 1;
            overflow: hidden;
            .p-datatable {
                margin-top: 0px !important;
                height: 100%;
                //.p-datatable-wrapper {
                //    height: calc(100% - 55px);
                //}
                .p-datatable-scrollable-wrapper {
                    height: calc(100% - 55px);
                    display: flex;
                    .p-datatable-scrollable-view {
                        display: flex;
                        /* width: 100%; */
                        flex-direction: column;
                        flex-wrap: wrap;
                        .p-datatable-scrollable-body {
                            flex: 1;
                            overflow-y: scroll;
                        }
                    }
                }
            }
        }
        .info {
            min-height: 400px;
            .p-tabview {
                height: 100%;
                .p-tabview-panels {
                    height: calc(100% - 40px);
                }
            }
        }

        .bg {
            background: var(--surface-e);
            padding: 10px;
            box-shadow: 0 2px 1px -1px #00000033, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
            border-radius: 4px;
            margin-bottom: 0.6rem;

            &.filter {
                padding: 6px 10px;
            }
            &.grid {
                padding: 0;
            }

        }

        .fl-row {
            //width: 100%;
            display: inline-flex;
            align-items: center;
            margin-right: 10px;
            margin-top: 4px;
            margin-bottom: 4px;

            .space {
                padding: 5px;
            }
            .p-inputtext {
                padding: 0.5rem 1rem;
            }
            .p-multiselect-label {
                padding: 0.5rem 1rem;
            }
            .p-datepicker-trigger {
                padding: 0.5rem;
            }
            .p-button-icon-only {
                padding: 0.5rem;
            }
            .search-btn {
                Button {
                    padding: 0.5rem 1rem;
                }
            }
            #amountFrom {
                input {
                    width: 147px;
                }
            }
            #amountTo {
                input {
                    width: 147px;
                }
            }
            .p-multiselect {
                width: 213px;
            }

        }
    }

    .financesDialog {
        .p-field {
            width: 50%;
            display: inline-block;
        }
        label {
            width: 100%;
        }
        input {
            width: 100%;
        }
        #birth_date {
            width: 100%;
            .p-datepicker table th {
                padding: 0 !important;
            }
            .p-datepicker table td {
                > span {

                }
                padding: 0 !important;
            }
        }
        .p-autocomplete {width: 100%;}
        .identGrid {
            min-height: 150px;
        }
        #amount {
            margin-left: 20px;
            width: 150px;
        }
    }
}

