.login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .login-card{
        width: 400px;
    }
    .submit-button{
        width: 100px;
        float: right;
    }
}
